@model IEnumerable<AutoWebApp.Models.SparePart>
@inject IHttpContextAccessor HttpContextAccessor
@using AutoWebApp.Tools
@{
    ViewData["Title"] = "Show Parts";
}

<h1>Części zamienne @Context.Request.Query["carBrand"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Zdjęcie
            </th>
            <th>
                Nazwa części
            </th>
            <th>
                Model
            </th>
            <th>
                Cena
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="https://freepngimg.com/thumb/wrench/3-wrench-spanner-png-image-.png" height="100" width="100"/>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PartName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleModel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @if (HttpContextAccessor.HttpContext.Session.Get<bool>("_IsLoggedIn") == true)
                    {
                        <a asp-action="AddToOrder" asp-route-id="@item.PartID">Zamów</a>
                    }
                    else
                    {
                        <a asp-controller="Users" asp-action="Login">Zamów</a>
                    }
                    |   <a asp-action="Details" asp-route-id="@item.PartID">Szczegóły</a>
                </td>
            </tr>
        }
    </tbody>
</table>
